// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content.bg-primary
            .modal-header.border-0
                button.btn-close.btn-close-white(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5.text-white
                .container.px-0
                    .row.justify-content-center
                        .col-lg-10
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-white.text-uppercase.mb-0 Submarine
                            // Icon Divider
                            .divider-custom.divider-light
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.shadow-lg.mb-5(src='assets/img/portfolio/submarine.png', alt='Submarine Project')
                            // Portfolio Modal - Text
                            .card.bg-transparent.border-light.shadow-sm.mb-4
                                .card-body
                                    h4.text-white.mb-3 Web Developer (2019 - 2020)
                                    p.mb-4
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                    .tech-stack.bg-transparent.p-3.rounded.border.border-light
                                        h5.text-white.mb-3 Tech Stack
                                        .d-flex.flex-wrap.justify-content-center.gap-2
                                            span.badge.bg-dark.text-white.me-2.mb-2 HTML
                                            span.badge.bg-dark.text-white.me-2.mb-2 CSS
                                            span.badge.bg-dark.text-white.me-2.mb-2 JavaScript
                                            span.badge.bg-dark.text-white.me-2.mb-2 Bootstrap