// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content.bg-primary
            .modal-header.border-0
                button.btn-close.btn-close-white(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5.text-white
                .container.px-0
                    .row.justify-content-center
                        .col-lg-10
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-white.text-uppercase.mb-0 TechCorp
                            // Icon Divider
                            .divider-custom.divider-light
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.shadow-lg.mb-5(src='assets/img/portfolio/circus.png', alt='TechCorp Project')
                            // Portfolio Modal - Text
                            .card.bg-transparent.shadow-sm.mb-4
                                .card-body
                                    h4.text-white.mb-3 Full Stack Developer (2022 - 2023)
                                    p.mb-4
                                        | At TechCorp, I worked on developing and maintaining enterprise-level applications:
                                    ul.list-unstyled.mb-4
                                        li.mb-3
                                            i.fas.fa-check.text-white.me-2
                                            | Led the development of a cloud-based platform serving 100,000+ users
                                        li.mb-3
                                            i.fas.fa-check.text-white.me-2
                                            | Implemented microservices architecture improving system scalability
                                        li.mb-3
                                            i.fas.fa-check.text-white.me-2
                                            | Reduced deployment time by 50% through CI/CD pipeline optimization
                                    .tech-stack.bg-transparent.p-3.rounded
                                        h5.text-white.mb-3 Tech Stack
                                        .d-flex.flex-wrap.justify-content-center.gap-2
                                            span.badge.bg-dark.text-white.me-2.mb-2 React
                                            span.badge.bg-dark.text-white.me-2.mb-2 Node.js
                                            span.badge.bg-dark.text-white.me-2.mb-2 MongoDB
                                            span.badge.bg-dark.text-white.me-2.mb-2 Express
                                            span.badge.bg-dark.text-white.me-2.mb-2 Docker
                                            span.badge.bg-dark.text-white.me-2.mb-2 AWS
                                            span.badge.bg-dark.text-white.me-2.mb-2 GraphQL
                                            span.badge.bg-dark.text-white.me-2.mb-2 TypeScript